{# Load the tag library #}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Load Internationalisation #}
{% load i18n %}


<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>{% trans "Task manager" %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <a class="navbar-brand" href="/">{% trans "Task manager" %}</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/users/">{% trans "Users" %}</a>
          </li>
          {% block nav_content %}{% endblock %}
        </ul>
        <ul class="navbar-nav">
          {% block nav_content2 %}{% endblock %}
        </ul>
      </div>
    </nav>
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    {% block content %}
    <div class="container wrapper flex-grow-1">
      <h1 class="my-4">
      </h1>
      <h1 class="my-4"></h1>
      <div class="card">
        <div class="card-body p-5 bg-light">
          <div class="display-4">Привет от Хекслета!</div>
          <p class="lead">Практические курсы по программированию</p>
          <hr>
          <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io">Узнать больше</a>
        </div>
      </div>
    </div>
    <footer>
      <div class="container my-5 pt-4 border-top">
        <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
      </div>
    </footer>
    {% endblock %}
  </body>
</html>